services:
  - type: web
    name: your-django-backend
    runtime: python
    buildCommand: pip install -r requirements.txt && python manage.py migrate
    startCommand: gunicorn your_project.wsgi:application
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: your-db
          property: connectionString
      - key: SUPABASE_URL
        value: https://dogesupyybzlvkbwyaak.supabase.co
      - key: SUPABASE_KEY
        value: eyJhbGci...W5U
      - key: DEBUG
        value: "False"